/* Color styling in css */
body{
    background-color: aqua(62, 43, 186);
}
.heading{
    background-color: brown;
    
    width: 40%;
    height: 100px;
   /*  margin: 100px 300px 30px 50px; /* TRBL */
   /* margin: 100px 200px; vertical Horizontal */
   /* margin: 30px;  */
   margin-left: 50px;
   padding: 30px;
   text-align: center;
}
.para{
    background-color: blue(51, 170, 51, 0.3);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* Dimensions- Margib,padding, */
.box{
    background-color: blueviolet;
    width: 200px;
    height: 100px;
     font-size: 2em;  /* 1em=16px */
     text-align: center;
     border-radius: 50px;
}
img{
    width: 200px;
    height: 200px;
    border: 10px solid rgb(255, 255, 255);  /* width style color */
    border-radius: 10%;
}
h3{
    display: inline;
}
span{
    width: 50px;
}
div{
    /* display: inline-block; */
    width: 200px;
    height: 200px;
}
.bbox1{
    background-color: aqua;
    /* position: static; */
}
.bbox2 {
    background-color: greenyellow;
    position: absolute;
    /* margin-block-end: -50px; */
}
.bbox3 {
    background-color: blue;
    position: relative;
    bottom: 30px;
    left: 50px;
    margin-top: 50px;
}
* {
    /* margin: 0px; */
}

