/* Define The global or root variables */
:root{
    --primaryColor :#213555;
    --backgroundColor :#F5EFE7;
    --primaryAccentColor :#4F709C;
    --secondaryColor : #D8C4B6;
    --whiteColor:white;
    --blackColor:#222222;
    --primaryFont: 'Open Sans', sans-serif;
    --navbarHeight: 3rem;
    --cursivefont : 'Pacifico',cursive;
}

/* Main CSS */
body{
    background-color: var(--backgroundColor);
    color: var(--primaryColor);
    font-family: var(--primaryFont);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
a {
    text-decoration: none;
    color: var(--primaryColor);
}
a:hover{
    color: var(--primaryAccentColor);
}
.navigation{
    background-color: var(--whiteColor);
    height: var(--navbarHeight);
    display: flex;
    justify-content: space-around;
    align-items: center;
    filter: drop-shadow(0px 5px 10px rgb(235, 125, 125));
}
.logo{
    display:flex;
    padding-left: 20px;
    width: 12rem;
    align-items: center;
}
.logoImage{
    padding: 8px;
    height: 2rem;    
    /* float:left; */
}
.contactImage{
    padding: 8px;
    height: 2rem;  
    margin-right: 180px;
}
.menuItems{
    flex-grow:2;
}
.menuItem{
    margin-left: 20px;
}
/* banner */
.banner{
    display: flex;
    height: 450px;
    background-color: linear-gradient(45deg, var(--secondaryColor),var(--primaryAccentColor));
    background-color: var(--secondaryColor);
     filter: drop-shadow(0px 5px 10px rgb(235, 125, 125));
    justify-content: space-around;
    align-items: center;
    
}
.bannerLeft{
   width: 50%;
}
.bannerpicture{
    height: 450px;
    border-radius: 120%;
    /* margin-top: 10% */
}
.greeting{
    font-family: var(--cursivefont);
    font-size: 1.5rem;
}
.title{
    font-size: 3rem;
}
.showCV{
    font-size: 1.5rem;
}
.title{
    font-size: 2.5rem;
    color: white;
}
.titleSpan{
    display: inline-block;
    background-color: var(--primaryColor);
    padding: 0.5rem;
    margin: 20px 0px;
}
.description{
    margin: 30px 0px;
    line-height: 2rem;
}
.showCVButton{
    background: linear-gradient(white,rgb(235,235,235));
    padding: 10px 15px;
    border-radius: 5px;
    filter: drop-shadow(5px 5px 3px grey);
}
.showCVButton:hover{
    background: linear-gradient(
        white,rgb(215,215,215)
    );
}
