/* .box{
    width: 150px;
    height: 150px;
    margin: auto;
    background-color: red;
    animation-name: colorChanger;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    /* animation: colorChanger 3s infinite; */
    /* animation-timing-function: linear;
    border-radius: 100%;
    text-align: center;
    /* margin-top: 20%; */
/* }
@keyframes colorChanger{
    0%,100%{
        background-color: red;
        transform: translate(10px,10px);
        transform: scale(0.3);
    }
    50%{
        background-color: green;
        transform: translate(40px,40px);
        transform: scale(1);
    }70%{
        background-color: blue;
        transform: translate(60px,60px);
        transform: scale(3.0);
    }
} */
.box{

}
@keyframes{

}
.left{
    display: inline-block;
}